.wordsContainer {
    padding:12px;
    background-color: white;
    box-shadow: 0px 20px 12px -20px rgba(146, 146, 151, 0.1);
    border-radius: 12px;
    padding-left: unset;
    padding-top: unset;
}

.moveWordsBtn {
    background: white !important;
    min-width: unset !important;
    width: 48px;
    height: 48px;
    border-radius: 8px;
}
