.languageItem {

    &.selected {
        --box-shadow-color: var(--primary);
        box-shadow: 0px 0px 0px 2px var(--box-shadow-color); 

        &.error {
            --box-shadow-color: red;
        }
    }
}