:root {
  --primary: #560DF0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: inter;
}

a {
  color: inherit;
  text-decoration: none;
}

.defaultLink {
    color: #560DF0;
    text-decoration: underline;
}

* {
  box-sizing: border-box;
}

main {
  background: #f5f6f8;
  min-height: 100vh;
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
}
.MuiCardActions-root{
   margin-top: auto;
}

div::-webkit-scrollbar{ width: 6px; background: rgb(232, 230, 230); }
div::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--primary);
  overflow-x: auto;
}