.flagIcon {
    width: 28px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;

    &.selected {
        box-shadow: 0px 0px 0px 2px var(--primary);

    }
}

.plusIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 24px;
    background: rgba(113, 111, 255, 0.1);
    border-radius: 4px;
    cursor: pointer;
    color: var(--primary);
}