.filmSelected {
    -webkit-box-shadow: 0px 0px 3px 2px rgb(255, 0, 247) !important;
    -moz-box-shadow: 0px 0px 3px 2px rgb(255, 0, 247) !important;
    box-shadow: 0px 0px 3px 2px rgb(255, 0, 247) !important;
}

.chooseFilmCard {
    .chooseFilmButton {
        visibility: hidden;
    }
    &:hover {
        .chooseFilmButton {
            visibility: visible;
        }
    }
    
}
