
.popoverContent {
    border-radius: 16px !important;
    box-shadow: 0px 4px 23px rgba(65, 65, 65, 0.1) !important;
    padding: 0px !important;

    .content {
        max-width: 314px;
        padding: 20px;
        // gap: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #212125;
        max-height: 450px;
        scrollbar-width: thin;
        
        .item {
            border-radius: 8px;
            padding: 12px 12px 12px 13px;
            cursor: pointer;
            position: relative;

            .unreadDot {
                display: flex;
                width: 8px;
                height: 8px;
                background: #A5A1AE;
                position: absolute;
                border-radius: 50%;
                left: 2px;
                top: 18px;

                &.active {
                    background: var(--primary);
                }
            }

            &:hover {
                background: rgba(165, 161, 174, 0.15);
            }
        }
    }
}