.categoryWrapper {
    &:hover {
        cursor: pointer;
    }
}

.uploadBtn {
    overflow: hidden;
    background: rgba(113, 111, 255, 0.12) !important;
    max-width: 50%;

    &.auto {
        color: var(--primary);
        background: white !important;
    }
}

.sourceCategory {
    &:hover {
        background-color: #fff0;
    }
}

.backBtn {
    display: flex;
    // position: absolute;
    // left: -3rem;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 28px 31px rgba(109, 109, 112, 0.1);
    border-radius: 50%;
    color: #212125;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0.3rem;

    &.absolutePos {
        position: absolute;
        left: -41px;
    }
}

.filePreview {
    display: flex;
    align-items: center;
    border: 1px solid #EBEBEF;
    border-radius: 8px;
    padding: 11px 20px 11px 12px;

    .filePreviewName {
        display: flex;
        align-items: center;
    }
    .filePreviewClose {
        display: flex;
        color: black;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #F5F6F8;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}